
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HangChuaThanhToan</title>
</head>
<body>
    <div> 
        @ViewBag.Message

        <ul>
            <li>Hang 1</li>
            <li>Hang 2</li>
            <li>Hang 3</li>
            <li>Hang 4</li>
        </ul>
    </div>
</body>
</html>
